[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "vivid"]
	path = vivid
	url = https://github.com/alaninglis/vivid
	shallow = true
	registered = true
